{% extends 'base.html' %}

{% block head %}
<title> Tour On Wheels </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/booking.css') }}">
{% endblock %}

{% block body %}
<div class="content1">
    <h1 style="text-align: center"> Tour on Wheels</h1>
    <div class="info">
        <h4 style="text-align: center;">Train Booking</h4>
        <h4>{{tasks[0][2]}} ({{tasks[0][3]}})</h4>
        <h4>{{src}} to {{dest}}</h4>
        <p> Date : {{date}}</p>
        <p>Source : {{src}}</p>
        <p>Destination : {{dest}}</p>
        <p>Arrival Time on {{src}} : {{tasks[0][0]}}</p>
        <p>Departure Time from {{src}} : {{tasks[0][1]}}</p>
        <p>Arrival Time on {{dest}} : {{tasks[0][4]}}</p>
        <p>Arrival Date on {{dest}} : {{tasks[0][7]}}</p>
<div class="table">
    <table>
        <tr>
            <th>Seat Type</th>
            <th>Available Seats</th>
            <th>Action</th>
        </tr>
        {%for task in tasks %} 
        <tr>
            <td>{{task[5]}}</td>
            <td>{{task[6]}}</td>
            {% if task[6] != 0 %}
            <td><a href="/info/{{src}}/{{dest}}/{{task[3]}}/{{task[5]}}/{{date}}">Book</a></td>
            {% else %} 
            <td>No seats remaining</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
</div>

</div>
{% endblock %}