{% extends 'base.html' %}

{% block head %}
<title> Tour On Wheels </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/booking.css') }}">
{% endblock %}

{% block body %}
<div class="content1">
        <h1 style="text-align: center; font-size: x-large; font-family: 'Brush Script MT', cursive;"><br>Indian Railways</h1>
        <h1 style="text-align: center; font-size: xx-large;">TOUR ON WHEELS</h1>
    <div class="info">
        <h4 style="text-align: center; font-size: xx-large; font-family: Copperplate, Papyrus, fantasy; color: blue; line-height: 5%;">Train Booking</h4>
        <div class="content">
        <div class="train" style="margin-left: 5%;">
        
        <h3>{{src}} to {{dest}}</h3>
        <h3 style="font-size: xxx-large; line-height: 1%;"> {{tasks[0][3]}}</h3>
        <h5>{{tasks[0][2]}}</h5>
    </div>
        <div style="margin-left: 15%;" class="times">
        <p><b>Arrival at {{src}}</b> : <br>{{date}} -> {{tasks[0][0]}}</p>
        <p><b>Departure from {{src}}</b> : <br>{{tasks[0][1]}}</p>
        <p><b>Arrival at {{dest}}</b> : <br> {{tasks[0][7]}} -> {{tasks[0][4]}}</p>
        </div>
        </div>
<div  class="table">
    <table>
        <tr>
            <th>Seat Type</th>
            <th>Available Seats</th>
            <th>Action</th>
        </tr>
        {%for task in tasks %} 
        <tr>
            <td>{{task[5]}}</td>
            <td>{{task[6]}}</td>
            {% if task[6] != 0 %}
            <td><a href="/info/{{src}}/{{dest}}/{{task[3]}}/{{task[5]}}/{{date}}">Book</a></td>
            {% else %} 
            <td>No seats remaining</td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
</div>

</div>
{% endblock %}