{% extends 'base.html' %}

{% block head %}
<title> Tour On Wheels </title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock %}

{% block body %}

<div class="content1">
     <h1 style="text-align: center; font-size: x-large; font-family: 'Brush Script MT', cursive;"><br>Indian Railways</h1>
        <h1 style="text-align: center; font-size: xx-large;">TOUR ON WHEELS</h1>
        <a href="/enquiry"><button class="enquiry">PNR Enquiry</button></a>
        <div class='form'>
            <h2 style="color: blue; text-align: center; font-family: Copperplate, Papyrus, fantasy; font-size: x-large;">Search Train</h2>
            <form action="/" method="POST">
            <p>Source: </p><input style="width: 85%;" list="stations" name="source" id="source">
            <datalist id="stations">
                {% for j in stations %}
                <option value="{{j}}">
                {% endfor %}
              </datalist>
            <p>Date: </p><input style="width: 85%;" type="date" name="date" id="date">
            <p>Destination:</p><input style="width: 85%;" list="stations" name="destination" id="destination">
            <p></p>
            <input class="press" type="submit" value="Find Train">
            </form>
        </div>
    
</div>
<div class="content2">
    <table class="table">
    <tbody><tr> 
            <th>Arrival Time on {{src}}</th>
            <th>Departure Time from {{src}}</th>
            <th>Train Name</th>
            <th>Train number</th>
            <th>Arrival Time on {{dest}}</th>
            <th>Arrival Date on {{dest}}</th>
            <th>Action</th>
        </tr>
        {% for task in tasks%} 
        <tr>
            <td>{{task[0]}}</td>
            <td>{{task[1]}}</td>
            <td>{{task[2]}}</td>
            <td>{{task[3]}}</td>
            <td>{{task[4]}}</td>
            <td>{{task[5]}}</td>
            <td><a href="/booking/{{src}}/{{dest}}/{{task[3]}}/{{date}}">Check Availability</a></td>
        </tr>
        {% endfor %}
    </tbody>
    </table>
</div>

    <style>
        table {
            display: {{dis}};
        }
</style>

{% endblock %}