{% extends 'base.html' %}

{% block head %}
<title> Tour On Wheels </title>
{% endblock %}

{% block body %}
<div class="content1">
    <h1 style="text-align: center"> Tour on Wheels</h1>
    <h4>Train Booking</h4>
    <h4>{{tasks[2]}} ({{tasks[3]}})</h4>
    <h4>{{src}} to {{dest}}</h4>
    <p> Date : {{date}}</p>
    <p>Source : {{src}}</p>
    <p>Destination : {{dest}}</p>
    <p>Arrival Time on {{src}} : {{tasks[0]}}</p>
    <p>Departure Time from {{src}} : {{tasks[1]}}</p>
    <p>Arrival Time on {{dest}} : {{tasks[4]}}</p>
    <p>Arrival Date on {{dest}} : {{tasks[7]}}</p>
    <p>Class: {{tasks[5]}}</p>
    </div>
<div class="form">
    <form action="/info/{{src}}/{{dest}}/{{tasks[3]}}/{{tasks[5]}}/{{date}}" method="POST">
        <p>Name: </p><input type="text" name="name" id="name">
        <p>Age: </p><input type="int" name="age" id="age">
        <p>gender: </p><input list="genlist" type="text" name="gender" id="gender">
        <datalist id="genlist">
            <option value="Male">
            <option value="Female">
            <option value="Prefer not to say">
        </datalist>
        <p>Email id: </p><input type="email" name="email" id="email">
        <p>Mobile: </p><input type="tel" name="mobile" id="mobile">
        <p>Available Seats: </p><input list="myList" type="text" name="pref" id="pref">
        <datalist id="myList">
            {% for j in prefered_seats %}
            <option value="{{j}}">
            {% endfor %}
        </datalist>
        <input type="submit" value="Book Ticket">
        </form>

</div>

    {% endblock %}